shamefully-hoist=true
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=@babel/*
public-hoist-pattern[]=babel-preset-expo
link-workspace-packages=true
store-dir=/tmp/pnpm-store
